@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../images/sub_bg.jpg) 50% 90px no-repeat #007bb8;
}
body, html, #root, .app-container{
  height: 100%;
  width: 100%;
}

ul{
  display: flex;
  justify-content: space-between;
  height: 90px;
  margin-right: 3rem
}
li {
  float: left;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover{
  font-weight: bold;
}

.app-container{
  display: flex;
}

#navbar-logo{
  width: 100px;
  height: 60px;
}
