<html>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Register</title>
    <link rel="stylesheet" href="registrationStyle.css">
<body>
    <h1>Register</h1>
    <div id="card">
        <p>Email Address</p>
        <input type="email" id="email" placeholder="your-email@example.com">

        <p>Password*</p>
        <input type="password" id="password" placeholder="Your Password">

        <p>Retype Password</p>
        <input type="password" id="passwordValidate" placeholder="Your Password">

        <p id="invalidInputError" style="color: red; display: hidden;"></p>
        <span class="br"></span>  
        <small>*(Make sure it is at least 8 letters long, and contains one number and one capital letter)</small>
        
        <input type="submit" id="submitButton" text="Submit" onclick="validateForm()">        
    </div>

</body>

<script src="registrationScript.js"></script>

</html>